/* ----- load Freeroad font ----- */

@font-face {
    font-family: Freeroad;
    src: url("./static/fonts/Freeroad-Regular.ttf.woff");
}


/*
=============== 
Variables
===============
*/


/* $blue: hsl(201, 100%, 39%)
$yellow: hsl(39, 97%, 58%)
$black: hsl(0, 0%, 0%)
$green: hsl(149, 99%, 33%)
$red: hsl(351, 85%, 56%)

goldenrod: hsl(43, 74%, 49%)
silver: hsl(240, 4%, 60%)
bronze: hsl(27, 42%, 46%)

logo blue: hsl(229, 48%, 24%)
*/


/* :root {
    
} */


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

body {
    /* background: var(--clr-grey-10);
    color: var(--clr-grey-1); */
    line-height: 1.5;
    font-size: 0.875rem;
    color: hsl(0, 0%, 0%);
    background: linear-gradient(to left, hsl(206, 16%, 80%), hsl(192, 17%, 94%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body>* {
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Freeroad, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: hsl(229, 48%, 24%);
    text-align: center;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
    font-weight: 500;
}

p {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

ul {
    text-align: center;
    margin-bottom: 1.25rem;
}

li {
    font-size: 1rem;
    margin-bottom: 1.5vh;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 16vh;
}

article {
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*  Global classes */

.bg-gold {
    background-image: linear-gradient( to right top, hsl(43, 74%, 49%), hsl(43, 71%, 49%), hsl(43, 68%, 49%), hsl(43, 66%, 49%), hsl(43, 63%, 49%));
}

.bg-silver {
    background-image: linear-gradient( to right top, hsl(240, 4%, 60%), hsl(315, 3%, 53%), hsl(355, 5%, 48%), hsl(20, 7%, 41%), hsl(49, 6%, 34%));
}

.bg-bronze {
    background-image: linear-gradient( to right top, hsl(27, 42%, 46%), hsl(26, 46%, 42%), hsl(27, 50%, 37%), hsl(26, 56%, 33%), hsl(26, 63%, 28%));
}


/* section */


/*
=============== 
Buttons
===============
*/

.container-buttons {
    width: 100%;
    position: absolute;
    top: 55vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    height: 3.25rem;
    line-height: 3.25rem;
    text-align: center;
    width: 15.5rem;
    margin-bottom: 1rem;
    border-radius: 3.25rem;
    box-shadow: 0.625rem 0.625rem 0.875rem 0.065rem rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}


/*
=============== 
Navbar
===============
*/


/* Landing page Olympic rings SVG GSAP animation adapted from Steve Gardner's CodePen: https://codepen.io/ste-vg/details/kXzXYW */

.logo-gfg {
    width: 100%;
}

.container-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -24vh;
}

.container-landing>svg {
    transform: scale(1.5);
}

.container-landing .all {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 0.3125rem;
    stroke: none;
}

#c1 {
    clip-path: url(#m1);
}

#c2 {
    clip-path: url(#m2);
}

#c3 {
    clip-path: url(#m3);
}

#c4 {
    clip-path: url(#m4);
}

#c5 {
    clip-path: url(#m5);
}


/*
=============== 
Search
===============
*/


/* Dynamic pure CSS search bar refactored and customised from Jove Angelevski's template: https://codepen.io/AlbertFeynman/pen/BPvzWZ */

form,
form>input,
form>.search {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}

form>input,
form>.search,
form>.search::before,
form>.search::after {
    position: absolute;
}

form {
    position: fixed;
    width: 100%;
    height: 16vh;
    z-index: 4;
}

form>input {
    bottom: 0;
    width: 3rem;
    height: 3rem;
    outline: none;
    border: none;
    background: hsl(0, 0%, 100%);
    color: hsl(229, 48%, 24%);
    box-shadow: 0.625rem 0.625rem 0.875rem 0.065rem rgba(0, 0, 0, 0.2);
    padding: 0 5rem 0 1.25rem;
    border-radius: 1.875rem;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
}

form>input:focus {
    width: 17rem;
    opacity: 1;
    cursor: text;
}

form>input:focus~.search {
    right: -12rem;
    background: hsl(229, 48%, 24%);
    z-index: 6;
}

form>input:focus~.search::before,
form>input:focus~.search::after {
    top: 0;
    left: 0;
    width: 1.5625rem;
}

form>input:focus~.search::after {
    height: 0.125rem;
    border: none;
    background: hsl(0, 0%, 100%);
    border-radius: 0%;
    transform: rotate(-45deg);
}

form>input::placeholder {
    opacity: 0.5;
    font-weight: bolder;
}

form>.search {
    bottom: 0;
    width: 5rem;
    height: 5rem;
    background: hsl(229, 48%, 24%);
    border-radius: 50%;
    transition: all 1s;
    box-shadow: 0.625rem 0.625rem 0.875rem 0.065rem rgba(0, 0, 0, 0.2);
}

form>input:hover,
form>.search:hover {
    cursor: pointer;
}

form>.search::before,
form>.search::after {
    content: "";
    margin: auto;
    top: 1.375rem;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
}

form>.search::before {
    top: 1.375rem;
    left: 1.375rem;
    width: 0.75rem;
    height: 0.125rem;
    background: hsl(0, 0%, 100%);
    transform: rotate(45deg);
}

form>.search::after {
    top: -0.3125rem;
    left: -0.3125rem;
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 50%;
    border: 0.125rem solid hsl(0, 0%, 100%);
}


/*
=============== 
Loading
===============
*/


/* Animated loading component adapted from @CodeBoomer's 'Olympics CSS Spinner' CodePen: https://codepen.io/CodeBoomer/pen/BzOPPz/ */

.spinner-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -5rem;
}

.spinner {
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    margin-left: -2.25rem;
    background: none;
    border-radius: 50%;
    border: 0.375rem solid currentColor;
    box-sizing: border-box;
    animation-name: spin;
    animation-duration: 1.2s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner:first-child {
    margin-left: 0;
    color: hsla(201, 100%, 39%, 20%);
    border-top-color: hsl(201, 100%, 39%);
}

.spinner:nth-child(2) {
    color: hsla(39, 97%, 58%, 20%);
    border-top-color: hsl(39, 97%, 58%);
}

.spinner:nth-child(3) {
    color: hsla(0, 0%, 0%, 20%);
    border-top-color: hsl(0, 0%, 0%);
}

.spinner:nth-child(4) {
    color: hsla(149, 99%, 33%, 20%);
    border-top-color: hsl(149, 99%, 33%);
}

.spinner:nth-child(5) {
    color: hsla(351, 85%, 56%, 20%);
    border-top-color: hsl(351, 85%, 56%);
}

.spinner:nth-child(2n) {
    margin-top: 2.5rem;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}


/*
=============== 
Medallists
===============
*/

.flag-container {
    width: 40vh;
    height: 40vh;
    position: relative;
    background-position: center;
    background-size: cover;
    margin: 1.5vh auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

article:nth-child(5n+1)>.flag-container {
    background-image: url("./static/images/logos/logo-tokyo-2020-blue-light.png");
}

article:nth-child(5n+2)>.flag-container {
    background-image: url("./static/images/logos/logo-tokyo-2020-black.png");
}

article:nth-child(5n+3)>.flag-container {
    background-image: url("./static/images/logos/logo-tokyo-2020-red.png");
}

article:nth-child(5n+4)>.flag-container {
    background-image: url("./static/images/logos/logo-tokyo-2020-yellow.png");
}

article:nth-child(5n+5)>.flag-container {
    background-image: url("./static/images/logos/logo-tokyo-2020-green.png");
}

.flag-container+div li {
    font-weight: 700;
    color: hsl(229, 48%, 24%);
}

.flag-container+div li>span {
    color: hsl(0, 0%, 0%);
    font-weight: 400;
}

.flag-wrapper {
    width: 6.4rem;
    height: auto;
    position: relative;
}

.flag {
    width: 100%;
    backface-visibility: hidden;
    max-height: 4rem;
    min-height: 3.2rem;
}

.flag-olympic {
    background-image: url("./static/images/logos/flag-olympic.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100% - 0.3125rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flag-spin {
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    transform-style: preserve-3d;
}

.flag-spin:hover {
    animation-play-state: paused;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}


/*
=============== 
Medallist
===============
*/