/* ----- load Freeroad font ----- */

@font-face {
    font-family: Freeroad;
    src: url("./static/fonts/Freeroad-Regular.ttf.woff");
}


/*
=============== 
Variables
===============
*/

:root {
    /* Primary palette */
    --clr-primary-white: hsl(0, 0%, 100%);
    --bg-primary: hsl(206, 16%, 80%);
    --bg-primary-gradient: linear-gradient( to left, hsl(206, 16%, 80%), hsl(192, 17%, 94%));
    /* Tokyo 2020 logo original */
    --clr-tokyo-blue: hsl(229, 48%, 24%);
    --clr-tokyo-blue-muted-opaque: hsla(229, 48%, 24%, 0.85);
    --clr-blue-muted-opaque: hsla(230, 47%, 80%, 0.97);
    /* Olympic ring colours */
    --clr-olympic-blue: hsl(201, 100%, 39%);
    --clr-olympic-blue-opaque: hsla(201, 100%, 39%, 20%);
    --clr-olympic-black: hsl(0, 0%, 0%);
    --clr-olympic-black-opaque: hsla(0, 0%, 0%, 20%);
    --clr-olympic-red: hsl(351, 85%, 56%);
    --clr-olympic-red-opaque: hsla(351, 85%, 56%, 20%);
    --clr-olympic-yellow: hsl(39, 97%, 58%);
    --clr-olympic-yellow-opaque: hsla(39, 97%, 58%, 20%);
    --clr-olympic-green: hsl(149, 99%, 33%);
    --clr-olympic-green-opaque: hsla(149, 99%, 33%, 20%);
    /* Olympic medal base colours */
    --clr-medal-gold: hsl(43, 74%, 49%);
    --clr-medal-gold-opaque: hsla(43, 74%, 49%, 0.6);
    --clr-medal-silver: hsl(240, 4%, 60%);
    --clr-medal-silver-opaque: hsl(240, 4%, 60%, 0.7);
    --clr-medal-bronze: hsl(27, 42%, 46%);
    --clr-medal-bronze-opaque: hsl(27, 42%, 46%, 0.7);
    /* Shadow */
    --shadow-main: 0.65rem 0.65rem 0.9rem 0.065rem rgba(0, 0, 0, 0.2);
    --shadow-darker: 0.65rem 0.65rem 0.9rem 0.065rem rgba(0, 0, 0, 0.3);
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

body {
    line-height: 1.5;
    font-size: 0.875rem;
    color: var(--clr-olympic-black);
    background: var(--bg-primary-gradient);
    justify-content: center;
    min-height: 100vh;
}

body>* {
    position: relative;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Freeroad, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
}

h2,
h3,
h4 {
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.4rem;
    margin-top: 15vw;
    margin-bottom: 0.75rem;
    color: var(--clr-tokyo-blue);
    text-align: center;
    line-height: 1.1;
}


/* Media Query */


/* small mobile */

@media screen and (max-width: 360px) {
    h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
    font-weight: 500;
}

h6 {
    line-height: 1.25;
    font-size: 1rem;
    font-weight: 400;
    color: #809099;
}

p {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

ul {
    text-align: center;
    margin-bottom: 1.25rem;
}

li {
    font-size: 1rem;
    margin-bottom: 2.5vw;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20vw;
    min-height: 100vh;
    width: calc(100vw - 2rem);
}

article {
    height: 156vw;
    flex-direction: column;
}

textarea {
    padding: 0.65rem 0.8rem;
    color: #464a4c;
    border-radius: 0.3rem;
    font-size: 1rem;
}


/*  Global utility classes */

.bg-gold {
    background-image: linear-gradient( to right top, var(--clr-medal-gold), hsl(43, 71%, 49%), hsl(43, 68%, 49%), hsl(43, 66%, 49%), hsl(43, 63%, 49%));
    animation-delay: 4.25s;
}

.bg-silver {
    background-image: linear-gradient( to right top, var(--clr-medal-silver), hsl(315, 3%, 53%), hsl(355, 5%, 48%), hsl(20, 7%, 41%), hsl(49, 6%, 34%));
    animation-delay: 5s;
}

.bg-bronze {
    background-image: linear-gradient( to right top, var(--clr-medal-bronze), hsl(26, 46%, 42%), hsl(27, 50%, 37%), hsl(26, 56%, 33%), hsl(26, 63%, 28%));
    animation-delay: 5.75s;
}

.bg-blue-olympic {
    background-image: linear-gradient( to right top, #0081c7, #0079b9, #0170ac, #02689f, #046092);
}

.bg-black {
    background-image: linear-gradient( to right top, #2a2626, #211e1e, #191717, #0f0d0e, #000000);
}

.bg-red {
    background-image: linear-gradient( to right top, #ee2f4c, #dd2843, #cd213a, #bc1a32, #ac132a);
}

.bg-yellow {
    background-image: linear-gradient( to right top, #fcb32c, #e8a325, #d4941f, #c08518, #ad7611);
}

.bg-green {
    background-image: linear-gradient( to right top, #01a751, #04964b, #088545, #0d743f, #106438);
}

.bg-blue-tokyo {
    background-image: linear-gradient( to right top, #202b5b, #1b275b, #17245c, #12205c, #0c1c5c);
}

.underline {
    display: inline-block;
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
}

.underline-gold {
    background-image: linear-gradient( 90deg, var(--clr-medal-gold-opaque), var(--clr-medal-gold-opaque));
}

.underline-total {
    background-image: linear-gradient( to right, var(--clr-medal-gold-opaque), var(--clr-medal-silver-opaque), var(--clr-medal-bronze-opaque));
}

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centre-j {
    display: flex;
    justify-content: center;
}

.flex-centre-a {
    display: flex;
    align-items: center;
}

.trbl-0 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*
=============== 
SideNav
===============
*/

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--clr-primary-white);
    background: var(--clr-blue-muted-opaque);
    transition: all 0.3s linear;
    transform: translate(100%);
    z-index: 10;
}

.show-sidenav {
    transform: translate(0);
}


/*
=============== 
Buttons
===============
*/

.btn {
    height: 3.25rem;
    line-height: 3.25rem;
    text-align: center;
    width: 15.5rem;
    margin-bottom: 1rem;
    border-radius: 3.25rem;
    box-shadow: var(--shadow-main);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-transform: uppercase;
    color: var(--clr-primary-white);
}

.container-buttons .btn {
    animation-name: btn-fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

.btn-back-to-top {
    position: fixed;
    right: 1vw;
    top: 90.5vh;
    font-size: 15vw;
    color: var(--clr-tokyo-blue);
    background-color: transparent;
    border: none;
    transition: all 0.5s ease-in-out;
}

.button-nav {
    margin: auto;
    top: 0;
    right: 0;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    transition: all 1s;
    z-index: 7;
}

.button-nav,
.button-nav::before,
.button-nav::after {
    position: absolute;
}

.button-close {
    font-size: 2rem;
    color: var(--clr-tokyo-blue);
}

.hamburger {
    width: 15vw;
    height: 15vw;
    position: absolute;
    color: var(--clr-tokyo-blue);
}

.container-about .hamburger {
    color: var(--clr-primary-white);
}

@keyframes btn-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*
=============== 
Landing
===============
*/

.container-buttons,
.container-buttons-nav {
    width: 100%;
    position: absolute;
    left: 0;
    flex-direction: column;
}

.container-buttons {
    top: 55vh;
}


/* Landing page Olympic rings GSAP SVG animation adapted from Steve Gardner's CodePen: https://codepen.io/ste-vg/details/kXzXYW */

.logo-gfg {
    width: 100%;
}

.container-landing {
    position: relative;
    top: -24vh;
}

.container-landing>svg {
    transform: scale(1.5);
}

.container-landing .all {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 0.3125rem;
    stroke: none;
}

#c1 {
    clip-path: url(#m1);
}

#c2 {
    clip-path: url(#m2);
}

#c3 {
    clip-path: url(#m3);
}

#c4 {
    clip-path: url(#m4);
}

#c5 {
    clip-path: url(#m5);
}


/*
=============== 
Loading
===============
*/


/* Animated loading component adapted from @CodeBoomer's 'Olympics CSS Spinner' CodePen: https://codepen.io/CodeBoomer/pen/BzOPPz/ */

.container-spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: calc(50vh - 11.5rem);
}

.spinner {
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    margin-left: -2.25rem;
    background: none;
    border-radius: 50%;
    border: 0.375rem solid currentColor;
    box-sizing: border-box;
    animation-name: spin;
    animation-duration: 1.2s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner:first-child {
    margin-left: 0;
    color: var(--clr-olympic-blue-opaque);
    border-top-color: var(--clr-olympic-blue);
}

.spinner:nth-child(2) {
    color: var(--clr-olympic-yellow-opaque);
    border-top-color: var(--clr-olympic-yellow);
}

.spinner:nth-child(3) {
    color: var(--clr-olympic-black-opaque);
    border-top-color: var(--clr-olympic-black);
}

.spinner:nth-child(4) {
    color: var(--clr-olympic-green-opaque);
    border-top-color: var(--clr-olympic-green);
}

.spinner:nth-child(5) {
    color: var(--clr-olympic-red-opaque);
    border-top-color: var(--clr-olympic-red);
}

.spinner:nth-child(2n) {
    margin-top: 2.5rem;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}


/*
=============== 
Toggle
===============
*/

.container-toggle {
    position: absolute;
    top: 2.5vw;
    left: 0;
    z-index: 5;
    position: fixed;
}


/* Toggle-switch functionality adapted (for integration with React state values) from Nick Bottomley's CodePen: https://codepen.io/nickbottomley/pen/uhfmn */

.switch {
    backface-visibility: hidden;
    margin: 0;
    width: 4.5rem;
    height: 4rem;
    position: relative;
}

.switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 3rem;
    right: 0;
    margin: 0;
}

.switch label {
    transition: opacity 0.25s ease;
    cursor: pointer;
    font-size: 1.85rem;
    line-height: 3rem;
    display: block;
    width: 3rem;
    height: 50%;
    margin: 0;
    text-align: center;
    color: var(--clr-tokyo-blue);
}

.switch label:first-of-type {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.switch label>.icon-toggled {
    color: var(--clr-medal-gold-opaque);
}

.switch .toggle-outside {
    border-radius: 2rem;
    padding: 0.25rem;
    overflow: hidden;
    transition: 0.25s ease all;
    background: var(--clr-primary-white);
    position: absolute;
    width: 1.5rem;
    height: 80%;
    right: 0;
    top: 10%;
}

.switch .toggle-inside {
    border-radius: 5rem;
    background: var(--clr-medal-gold-opaque);
    position: absolute;
    transition: 0.25s ease all;
    height: 1.5rem;
    left: 0rem;
    top: 0rem;
    width: 1.5rem;
}

.switch input~.toggle-outside .toggle-inside {
    top: 0.05rem;
}

.switch input~input.switch-toggled~.toggle-outside .toggle-inside {
    top: 1.65rem;
}

.btn-active>* {
    color: var(--clr-medal-gold-opaque);
}


/*
=============== 
Search
===============
*/


/* Dynamic pure CSS search bar refactored and customised from Jove Angelevski's template: https://codepen.io/AlbertFeynman/pen/BPvzWZ */

form,
form>input,
form>.search {
    top: 0;
    right: 0;
}

form>input,
form>.search {
    margin: auto;
}

form>input,
form>.search,
form>.search::before,
form>.search::after {
    position: absolute;
}

form {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 20vw;
    z-index: 4;
}

form>input {
    bottom: 0;
    left: 16.5vw;
    width: 25vw;
    height: 12vw;
    outline: none;
    border: none;
    background: var(--clr-primary-white);
    color: var(--clr-tokyo-blue);
    box-shadow: var(--shadow-main);
    padding: 0 15vw 0 6.25vw;
    border-radius: 1.875rem;
    transition: all 0.95s;
    opacity: 0;
    z-index: 8;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 4.5vw;
}

form>input:focus {
    width: 70vw;
    opacity: 1;
    cursor: text;
}

form>input:focus~.search {
    right: -82.5vw;
    background: var(--clr-tokyo-blue);
    z-index: 8;
}

form>input:focus~.search::before,
form>input:focus~.search::after {
    top: 0;
    left: 0;
    width: 7.5vw;
}

form>input:focus~.search::after {
    height: 0.625vw;
    border: none;
    background: var(--clr-primary-white);
    border-radius: 0%;
    transform: rotate(-45deg);
}

form>input::placeholder {
    opacity: 0.5;
    font-weight: bolder;
}

form>.search {
    bottom: 0;
    left: 0;
    right: 0;
    width: 15vw;
    height: 15vw;
    background: var(--clr-tokyo-blue);
    border-radius: 50%;
    transition: all 1s;
    box-shadow: var(--shadow-main);
}

form>.search.search-corner {
    right: -82.5vw;
    z-index: 8;
}

form>input.search-corner {
    opacity: 1;
    width: 70vw;
}

form>input:hover,
form>.search:hover {
    cursor: pointer;
}

form>.search::before,
form>.search::after {
    content: "";
    margin: auto;
    top: 6.875vw;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
}

form>.search::before {
    top: 5.5vw;
    left: 4vw;
    width: 3vw;
    height: 0.625vw;
    background: var(--clr-primary-white);
    transform: rotate(45deg);
}

form>.search::after {
    top: -1.5625vw;
    left: -1.5625vw;
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    border: 0.625vw solid var(--clr-primary-white);
}


/*
=============== 
Medallists
===============
*/

.container-flag {
    width: 75vw;
    height: 75vw;
    position: relative;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.container-flag-Europe {
    background-image: url("./static/images/logos/logo-tokyo-2020-blue-light.png");
}

.container-flag-Africa {
    background-image: url("./static/images/logos/logo-tokyo-2020-black.png");
}

.container-flag-Americas {
    background-image: url("./static/images/logos/logo-tokyo-2020-red.png");
}

.container-flag-Asia {
    background-image: url("./static/images/logos/logo-tokyo-2020-yellow.png");
}

.container-flag-Oceania {
    background-image: url("./static/images/logos/logo-tokyo-2020-green.png");
}

.container-flag+div {
    position: relative;
    top: 3vw;
}

.container-flag+div li {
    font-weight: 700;
    color: var(--clr-tokyo-blue);
}

.container-flag+div li:last-of-type {
    position: absolute;
    top: -5.25vw;
    left: 0;
    font-size: 17.5vw;
    width: 100%;
    height: 20vw;
    margin-bottom: 0;
}

.wrapper-rank {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-flag+div li span {
    color: var(--clr-olympic-black);
    font-weight: 400;
}

.container-flag+div li:last-of-type span {
    font-size: 4vw;
    color: var(--clr-tokyo-blue);
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: -2.25vw;
    line-height: 20vw;
}

.wrapper-flag {
    width: 6.4rem;
    height: auto;
    position: relative;
}

.flag {
    width: 100%;
    backface-visibility: hidden;
    max-height: 4rem;
    min-height: 3.5rem;
}

.flag-olympic {
    background-image: url("./static/images/logos/flag-olympic.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100% - 0.3125rem);
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flag-spin {
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    transform-style: preserve-3d;
}

.flag-spin:hover {
    animation-play-state: paused;
}

.icon-award-golds {
    color: var(--clr-medal-gold-opaque);
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}


/*
=============== 
Medallist
===============
*/


/*
=============== 
About
===============
*/

.container-about,
.container-contact {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container-about {
    background-color: var(--bg-primary);
    background-image: url("./static/images/logos/logo-tokyo-2020-complete-white.png");
    background-size: 90vw 86vh;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-about {
    background: var(--clr-tokyo-blue-muted-opaque);
    mix-blend-mode: darken;
    color: var(--clr-primary-white);
}

.overlay-about-text {
    color: var(--clr-primary-white);
    flex-direction: column;
    margin: 12.5vw 7.5vw 7.5vw;
}

.overlay-about-text h1 {
    margin-bottom: 10vw;
}

.overlay-about-text>p:last-of-type {
    margin-bottom: 10vw;
}


/* Media Query */


/* small mobile */

@media screen and (max-width: 360px) {
    .overlay-about-text {
        margin-top: 20vw;
    }
    .overlay-about-text h1 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
    .overlay-about-text p {
        font-size: 0.9rem;
    }
}

.overlay-about-text a {
    color: var(--clr-medal-gold);
    font-weight: 700;
}

.overlay-about-text .btn {
    margin-top: 0.5rem;
    color: var(--clr-primary-white);
    font-weight: 500;
}

.overlay-about-text .link-external {
    color: unset;
    font-weight: 700;
}


/*
=============== 
Contact
===============
*/

.form-contact {
    flex-direction: column;
    height: 100vh;
    background-color: #ecf0f3;
}

.form-contact>* {
    width: 76vw;
    text-align: center;
}

.form-contact>.form-logo {
    width: 25vw;
    height: 25vw;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-image: url("./static/images/logos/logo-tokyo-2020-blue-tokyo.png");
    margin-bottom: 3vw;
}

.form-contact>h6 {
    width: 80vw;
}

.form-group {
    margin-bottom: 5vw;
}

.form-group:last-of-type {
    margin-bottom: 7.5vw;
}

.form-group>* {
    width: 100%;
}

textarea,
.form-contact .form-control {
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.form-contact .form-control {
    padding: 0.65rem 0.8rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

textarea::placeholder,
.form-contact .form-control::placeholder {
    color: #9da9b0;
}

textarea:focus,
.form-contact .form-control:focus {
    color: #464a4c;
    background-color: #fff;
    outline: none;
}