/* ----- load Freeroad font ----- */

@font-face {
    font-family: Freeroad;
    src: url("./static/fonts/Freeroad-Regular.ttf.woff");
}


/*
=============== 
Variables
===============
*/

:root {
    /* Primary palette */
    --clr-primary-white: hsl(0, 0%, 100%);
    --bg-primary: hsl(206, 16%, 80%);
    --bg-primary-gradient: linear-gradient( to left, hsl(206, 16%, 80%), hsl(192, 17%, 94%));
    /* Tokyo 2020 logo original */
    --clr-tokyo-blue: hsl(229, 48%, 24%);
    --clr-tokyo-blue-muted-opaque: hsla(229, 48%, 24%, 0.85);
    --clr-blue-muted-opaque: hsla(230, 47%, 80%, 0.97);
    /* Olympic ring colours */
    --clr-olympic-blue: hsl(201, 100%, 39%);
    --clr-olympic-blue-opaque: hsla(201, 100%, 39%, 20%);
    --clr-olympic-black: hsl(0, 0%, 0%);
    --clr-olympic-black-opaque: hsla(0, 0%, 0%, 20%);
    --clr-olympic-red: hsl(351, 85%, 56%);
    --clr-olympic-red-opaque: hsla(351, 85%, 56%, 20%);
    --clr-olympic-yellow: hsl(39, 97%, 58%);
    --clr-olympic-yellow-opaque: hsla(39, 97%, 58%, 20%);
    --clr-olympic-green: hsl(149, 99%, 33%);
    --clr-olympic-green-opaque: hsla(149, 99%, 33%, 20%);
    /* Olympic medal base colours */
    --clr-medal-gold: hsl(43, 74%, 49%);
    --clr-medal-gold-opaque: hsla(43, 74%, 49%, 0.6);
    --clr-medal-silver: hsl(240, 4%, 60%);
    --clr-medal-silver-opaque: hsl(240, 4%, 60%, 0.7);
    --clr-medal-bronze: hsl(27, 42%, 46%);
    --clr-medal-bronze-opaque: hsl(27, 42%, 46%, 0.7);
    /* Shadow */
    --shadow-main: 0.65rem 0.65rem 0.9rem 0.065rem rgba(0, 0, 0, 0.2);
    --shadow-darker: 0.65rem 0.65rem 0.9rem 0.065rem rgba(0, 0, 0, 0.3);
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

body {
    line-height: 1.5;
    font-size: 0.875rem;
    color: var(--clr-olympic-black);
    background: var(--bg-primary-gradient);
    justify-content: center;
    min-height: 100vh;
}

body>* {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Freeroad, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
}

h2,
h3,
h4 {
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.4rem;
    margin-top: 15vw;
    margin-bottom: 0.75rem;
    color: var(--clr-tokyo-blue);
    text-align: center;
    line-height: 1.1;
}


/* Media Query */


/* small mobile */

@media screen and (max-width: 360px) {
    h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
    font-weight: 500;
}

h6 {
    line-height: 1.15;
    font-size: 1rem;
    font-weight: 400;
    color: #809099;
}

p {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

ul {
    text-align: center;
    margin-bottom: 1.25rem;
}

li {
    font-size: 1rem;
    margin-bottom: 2.5vw;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    min-height: 100vh;
    width: calc(100vw - 2rem);
}


/* Media Query */


/* small laptop */

@media screen and (min-width: 992px) {
    main {
        width: calc(68vw - 2rem);
    }
}

article {
    height: 100vh;
    min-height: 39rem;
    padding-top: 20vw;
    flex-direction: column;
}


/* Media Query */


/* large mobile */

@media screen and (min-width: 576px) {
    article {
        min-height: 42rem;
    }
    h2 {
        margin-top: 5rem;
    }
    li {
        margin-bottom: 0.75rem;
    }
}

textarea {
    padding: 0.65rem 0.8rem;
    color: #464a4c;
    border-radius: 0.3rem;
    font-size: 1rem;
}


/*  Global utility classes */

.bg-gold {
    background-image: linear-gradient( to right top, var(--clr-medal-gold), hsl(43, 71%, 49%), hsl(43, 68%, 49%), hsl(43, 66%, 49%), hsl(43, 63%, 49%));
    animation-delay: 4.25s;
}

.bg-silver {
    background-image: linear-gradient( to right top, var(--clr-medal-silver), hsl(315, 3%, 53%), hsl(355, 5%, 48%), hsl(20, 7%, 41%), hsl(49, 6%, 34%));
    animation-delay: 5s;
}

.bg-bronze {
    background-image: linear-gradient( to right top, var(--clr-medal-bronze), hsl(26, 46%, 42%), hsl(27, 50%, 37%), hsl(26, 56%, 33%), hsl(26, 63%, 28%));
    animation-delay: 5.75s;
}

.bg-blue-olympic {
    background-image: linear-gradient( to right top, #0081c7, #0079b9, #0170ac, #02689f, #046092);
}

.bg-black {
    background-image: linear-gradient( to right top, #2a2626, #211e1e, #191717, #0f0d0e, #000000);
}

.bg-red {
    background-image: linear-gradient( to right top, #ee2f4c, #dd2843, #cd213a, #bc1a32, #ac132a);
}

.bg-yellow {
    background-image: linear-gradient( to right top, #fcb32c, #e8a325, #d4941f, #c08518, #ad7611);
}

.bg-green {
    background-image: linear-gradient( to right top, #01a751, #04964b, #088545, #0d743f, #106438);
}

.bg-blue-tokyo {
    background-image: linear-gradient( to right top, #202b5b, #1b275b, #17245c, #12205c, #0c1c5c);
}

.underline {
    display: inline-block;
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
}

.underline-gold {
    background-image: linear-gradient( 90deg, var(--clr-medal-gold-opaque), var(--clr-medal-gold-opaque));
}

.underline-total {
    background-image: linear-gradient( to right, var(--clr-medal-gold-opaque), var(--clr-medal-silver-opaque), var(--clr-medal-bronze-opaque));
}

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-centre-j {
    display: flex;
    justify-content: center;
}

.flex-centre-a {
    display: flex;
    align-items: center;
}

.trbl-0 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*
=============== 
SideNav
===============
*/

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--clr-primary-white);
    background: var(--clr-blue-muted-opaque);
    transition: all 0.3s linear;
    transform: translate(100%);
    z-index: 10;
}

.show-sidenav {
    transform: translate(0);
}


/* Media Query */


/* small laptop */

@media screen and (min-width: 992px) {
    .sidenav {
        left: 68vw;
        width: 32vw;
        transform: unset;
    }
    .container-buttons-nav {
        width: 25vw;
    }
}


/*
=============== 
Buttons
===============
*/

.btn {
    height: 3.25rem;
    line-height: 3.25rem;
    text-align: center;
    width: 15.5rem;
    margin-bottom: 1rem;
    border-radius: 3.25rem;
    box-shadow: var(--shadow-main);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-transform: uppercase;
    color: var(--clr-primary-white);
}

.container-buttons .btn {
    animation-name: btn-fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

.btn-back-to-top {
    position: fixed;
    right: 1vw;
    top: 89%;
    font-size: 3.75rem;
    color: var(--clr-tokyo-blue);
    background-color: transparent;
    border: none;
    transition: all 0.5s ease-in-out;
}

.button-nav {
    margin: auto;
    top: 0;
    right: 0;
    width: 15vw;
    max-width: 3.5rem;
    height: 15vw;
    max-height: 3.5rem;
    border-radius: 50%;
    transition: all 1s;
    z-index: 7;
}

.button-nav,
.button-nav::before,
.button-nav::after {
    position: absolute;
}

.button-close {
    font-size: 2rem;
    color: var(--clr-tokyo-blue);
}

.hamburger {
    width: 15vw;
    max-width: 3.5rem;
    max-height: 3.5rem;
    height: 15vw;
    position: absolute;
    color: var(--clr-tokyo-blue);
}

.container-about .hamburger {
    color: var(--clr-primary-white);
    opacity: 0.7;
}

@keyframes btn-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Media Query */


/* small laptop */

@media screen and (min-width: 992px) {
    .button-nav {
        display: none;
    }
}


/*
=============== 
Alerts
===============
*/

.alert {
    width: 100%;
    font-weight: 600;
    padding: 3vw 5vw;
    line-height: 1.3;
    font-size: 0.9rem;
    position: relative;
    text-align: center;
    border: 0.025rem solid #809099;
    border-radius: 1vw;
}

.alert h6 {
    line-height: unset;
    font-size: unset;
    font-weight: unset;
    color: unset;
}

.alert-warning {
    background-color: #e4d836;
}

.alert-danger {
    background-color: #ea6272;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.emphasise {
    font-weight: 700;
}


/*
=============== 
Landing
===============
*/

.outer-landing {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-buttons,
.container-buttons-nav {
    width: 100%;
    position: absolute;
    left: 0;
    flex-direction: column;
}

.container-buttons-nav {
    margin-bottom: 0;
}

.container-buttons-nav>li:last-of-type>.btn {
    margin-bottom: 0;
}

.container-buttons {
    top: 55%;
}


/* Landing page Olympic rings GSAP SVG animation adapted from Steve Gardner's CodePen: https://codepen.io/ste-vg/details/kXzXYW */

.container-landing {
    position: relative;
    top: -5vw;
    width: 100%;
}

.container-landing>svg {
    transform: scale(1.5);
}

.container-landing .all {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 0.3125rem;
    stroke: none;
}

#c1 {
    clip-path: url(#m1);
}

#c2 {
    clip-path: url(#m2);
}

#c3 {
    clip-path: url(#m3);
}

#c4 {
    clip-path: url(#m4);
}

#c5 {
    clip-path: url(#m5);
}


/* Media Query */


/* large mobile */

@media screen and (min-width: 576px) {
    .container-buttons {
        top: 60%;
    }
}


/* tablet */

@media screen and (min-width: 768px) {
    .container-landing>svg {
        transform: scale(1.75);
    }
    .container-landing {
        top: 5vh;
    }
}


/*
=============== 
Loading
===============
*/


/* Animated loading component adapted from @CodeBoomer's 'Olympics CSS Spinner' CodePen: https://codepen.io/CodeBoomer/pen/BzOPPz/ */

.container-spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: calc(50vh - 25vw);
}

.spinner {
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    margin-left: -2.25rem;
    background: none;
    border-radius: 50%;
    border: 0.375rem solid currentColor;
    box-sizing: border-box;
    animation-name: spin;
    animation-duration: 1.2s;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner:first-child {
    margin-left: 0;
    color: var(--clr-olympic-blue-opaque);
    border-top-color: var(--clr-olympic-blue);
}

.spinner:nth-child(2) {
    color: var(--clr-olympic-yellow-opaque);
    border-top-color: var(--clr-olympic-yellow);
}

.spinner:nth-child(3) {
    color: var(--clr-olympic-black-opaque);
    border-top-color: var(--clr-olympic-black);
}

.spinner:nth-child(4) {
    color: var(--clr-olympic-green-opaque);
    border-top-color: var(--clr-olympic-green);
}

.spinner:nth-child(5) {
    color: var(--clr-olympic-red-opaque);
    border-top-color: var(--clr-olympic-red);
}

.spinner:nth-child(2n) {
    margin-top: 2.5rem;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Media Query */


/* tablet */

@media screen and (min-width: 768px) {
    .container-spinner {
        top: 35vh;
    }
}


/*
=============== 
Toggle
===============
*/

.container-toggle {
    position: absolute;
    top: 2.5vw;
    left: 0;
    z-index: 9;
    position: fixed;
}


/* Toggle-switch functionality adapted (for integration with React state values) from Nick Bottomley's CodePen: https://codepen.io/nickbottomley/pen/uhfmn */

.switch {
    backface-visibility: hidden;
    margin: 0;
    width: 4.5rem;
    height: 4rem;
    position: relative;
}

.switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 3rem;
    right: 0;
    margin: 0;
}

.switch label {
    transition: opacity 0.25s ease;
    cursor: pointer;
    font-size: 1.85rem;
    line-height: 3rem;
    display: block;
    width: 3rem;
    height: 50%;
    margin: 0;
    text-align: center;
    color: var(--clr-tokyo-blue);
}

.switch label:first-of-type {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.switch label>.icon-toggled {
    color: var(--clr-medal-gold-opaque);
}

.switch .toggle-outside {
    border-radius: 2rem;
    padding: 0.25rem;
    overflow: hidden;
    transition: 0.25s ease all;
    background: var(--clr-primary-white);
    position: absolute;
    width: 1.5rem;
    height: 80%;
    right: 0;
    top: 10%;
}

.switch .toggle-inside {
    border-radius: 5rem;
    background: var(--clr-medal-gold-opaque);
    position: absolute;
    transition: 0.25s ease all;
    height: 1.5rem;
    left: 0rem;
    top: 0rem;
    width: 1.5rem;
}

.switch input~.toggle-outside .toggle-inside {
    top: 0.05rem;
}

.switch input~input.switch-toggled~.toggle-outside .toggle-inside {
    top: 1.65rem;
}

.btn-active>* {
    color: var(--clr-medal-gold-opaque);
}


/*
=============== 
Search
===============
*/


/* Dynamic pure CSS search bar refactored and customised from Jove Angelevski's template: https://codepen.io/AlbertFeynman/pen/BPvzWZ */

form,
form>input,
form>.search {
    top: 0;
    right: 0;
}

form>input,
form>.search {
    margin: auto;
}

form>input,
form>.search,
form>.search::before,
form>.search::after {
    position: absolute;
}

form {
    position: fixed;
    left: 0;
    width: 80vw;
    height: 20vw;
    max-height: 4.75rem;
    z-index: 8;
}

form>input {
    bottom: 0;
    left: 22.5vw;
    width: 25vw;
    height: 2.75rem;
    outline: none;
    border: none;
    background: var(--clr-primary-white);
    color: var(--clr-tokyo-blue);
    box-shadow: var(--shadow-main);
    padding: 0 3.5rem 0 1.45rem;
    border-radius: 1.875rem;
    transition: all 0.95s;
    opacity: 0;
    z-index: 8;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
}

form>input:focus {
    width: 70vw;
    opacity: 1;
    cursor: text;
}

form>input:focus~.search {
    right: -82.5vw;
    background: var(--clr-tokyo-blue);
    z-index: 8;
}

form>input:focus~.search::before,
form>input:focus~.search::after {
    top: 0;
    left: 0;
    width: 1.75rem;
}

form>input:focus~.search::after {
    height: 0.145rem;
    border: none;
    background: var(--clr-primary-white);
    border-radius: 0%;
    transform: rotate(-45deg);
}

form>input::placeholder {
    opacity: 0.5;
    font-weight: bolder;
}

form>.search {
    bottom: 0;
    left: 20vw;
    right: 0;
    width: 15vw;
    max-width: 3.5rem;
    max-height: 3.5rem;
    height: 15vw;
    background: var(--clr-tokyo-blue);
    border-radius: 50%;
    transition: all 1s;
    box-shadow: var(--shadow-main);
}

form>.search.search-corner {
    right: -82.5vw;
    z-index: 8;
}

form>input.search-corner {
    opacity: 1;
    width: 70vw;
}

form>input:hover,
form>.search:hover {
    cursor: pointer;
}

form>.search::before,
form>.search::after {
    content: "";
    margin: auto;
    top: 6.875vw;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
}

form>.search::before {
    top: 1.2rem;
    left: 1.1rem;
    width: 0.6rem;
    height: 0.15rem;
    background: var(--clr-primary-white);
    transform: rotate(45deg);
}

form>.search::after {
    top: -0.365rem;
    left: -0.365rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.15rem solid var(--clr-primary-white);
}


/* Media Query */


/* tablet */

@media screen and (min-width: 768px) {
    form>input:focus,
    form>input.search-corner {
        width: 24rem;
    }
    form>input:focus~.search,
    form>.search.search-corner {
        right: -24rem;
    }
}


/* small laptop */

@media screen and (min-width: 992px) {
    form {
        width: 68vw;
    }
    form>.search {
        left: 0vw;
    }
    form>input {
        left: 2.5vw;
    }
}


/*
=============== 
Medallists
===============
*/

.container-flag {
    width: 75vw;
    min-height: 16rem;
    min-width: 16rem;
    height: 75vw;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.container-flag-Europe {
    background-image: url("./static/images/logos/logo-tokyo-2020-blue-light.png");
}

.container-flag-Africa {
    background-image: url("./static/images/logos/logo-tokyo-2020-black.png");
}

.container-flag-Americas {
    background-image: url("./static/images/logos/logo-tokyo-2020-red.png");
}

.container-flag-Asia {
    background-image: url("./static/images/logos/logo-tokyo-2020-yellow.png");
}

.container-flag-Oceania {
    background-image: url("./static/images/logos/logo-tokyo-2020-green.png");
}

.container-flag+div {
    position: relative;
    top: 3vw;
}

.container-flag+div li {
    font-weight: 700;
    color: var(--clr-tokyo-blue);
}

.container-flag+div li:last-of-type {
    position: absolute;
    top: -5.25vw;
    left: 0;
    font-size: 17.5vw;
    width: 100%;
    height: 20vw;
    margin-bottom: 0;
}

.article-error h3,
.article-error h5 {
    margin-bottom: 3vw;
    color: var(--clr-tokyo-blue);
    text-align: center;
    line-height: 1;
}

.article-error h3 {
    font-size: 1.9rem;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vw;
}

.article-error h5 {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: Raleway, sans-serif;
}

.wrapper-rank {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-flag+div li span {
    color: var(--clr-olympic-black);
    font-weight: 400;
}

.container-flag+div li:last-of-type span {
    font-size: 4vw;
    color: var(--clr-tokyo-blue);
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    top: -2.25vw;
    line-height: 20vw;
}

.wrapper-flag {
    width: 6.4rem;
    height: auto;
    position: relative;
}

.flag {
    width: 100%;
    backface-visibility: hidden;
    max-height: 4rem;
    min-height: 3.5rem;
}

.flag-olympic {
    background-image: url("./static/images/logos/flag-olympic.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100% - 0.3125rem);
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flag-spin {
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 3.5s;
    transform-style: preserve-3d;
}

.flag-spin:hover {
    animation-play-state: paused;
}

.icon-award-golds {
    color: var(--clr-medal-gold-opaque);
}

.icon-warning {
    color: var(--clr-olympic-red);
}

.icon-question {
    color: var(--clr-olympic-yellow);
}

.icon-smile {
    color: var(--clr-olympic-green);
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.container-flag+div>div {
    min-height: 23.5vh;
}


/* Media Query */


/* large mobile */

@media screen and (min-width: 576px) {
    .container-flag {
        min-height: 18rem;
        min-width: 18rem;
    }
    .container-flag+div li:last-of-type span {
        font-size: 1.5rem;
        top: 0.65rem;
        line-height: 3rem;
    }
    .container-flag+div li:last-of-type {
        position: absolute;
        top: -1rem;
        left: 0;
        font-size: 5rem;
        width: 100%;
        height: 6rem;
        margin-bottom: 0;
    }
    form>input {
        height: 3rem;
    }
    .switch {
        width: 6rem;
        height: 5.5rem;
    }
    .switch label {
        font-size: 2.5rem;
        line-height: 2.5rem;
        display: block;
        width: 4.5rem;
        height: 50%;
        margin: 0;
        text-align: center;
        color: var(--clr-tokyo-blue);
    }
    .switch input~input.switch-toggled~.toggle-outside .toggle-inside {
        top: 2.85rem;
    }
    .switch input~.toggle-outside .toggle-inside {
        top: 0.1rem;
    }
}


/* tablet */

@media screen and (min-width: 768px) {
    .container-flag {
        height: unset;
        width: 65%;
    }
    .container-flag+div {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    article {
        flex-direction: row;
        height: 30rem;
        padding-top: 5rem;
        min-height: unset;
    }
    article>* {
        width: 50%;
    }
    section {
        padding-top: 2rem;
    }
    h2 {
        position: relative;
        left: -142%;
        top: 5%;
        font-size: 2.2rem;
        width: 100%;
    }
    .container-flag.even {
        order: 2;
    }
    .container-flag.even+div {
        align-items: flex-end;
    }
    .container-flag.even+div h2 {
        left: 142%;
    }
    .container-flag+div li:last-of-type {
        left: 15%;
        position: relative;
        top: -100%;
        left: 0;
    }
    .container-flag-error+div li:last-of-type {
        top: 0;
    }
}


/*
=============== 
Medallist
===============
*/


/*
=============== 
About
===============
*/

.container-about {
    height: 100vh;
    position: relative;
    background-color: var(--bg-primary);
    background-image: url("./static/images/logos/logo-tokyo-2020-complete-white.png");
    background-size: 90vw 86vh;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-about {
    background: var(--clr-tokyo-blue-muted-opaque);
    mix-blend-mode: darken;
    color: var(--clr-primary-white);
}

.overlay-about-text {
    color: var(--clr-primary-white);
    flex-direction: column;
    margin: 12.5vw 7.5vw 7.5vw;
}

.overlay-about-text h1 {
    margin-bottom: 10vw;
}

.overlay-about-text>p:last-of-type {
    margin-bottom: 10vw;
}


/* Media Query */


/* large mobile */

@media screen and (min-width: 576px) {
    .container-about {
        background-size: 25rem 35.5rem;
    }
    .overlay-about-text {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .overlay-about-text h1 {
        margin-bottom: 2.5rem;
    }
    .overlay-about-text>p:last-of-type {
        margin-bottom: 3rem;
    }
}


/* tablet */

@media screen and (min-width: 768px) {
    .container-about {
        background-position: 50% 10%;
        background-size: 22rem 30rem;
    }
    .overlay-about-text {
        justify-content: flex-end;
    }
    .overlay-about-text h1 {
        margin-bottom: 1.5rem;
    }
    .overlay-about-text>p:last-of-type {
        margin-bottom: 2rem;
    }
}


/* small laptop */

@media screen and (min-width: 992px) {
    .container-about {
        width: 68vw;
        background-position: center;
        background-size: 24rem 33rem;
    }
    .overlay-about-text {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .overlay-about-text>* {
        position: relative;
        /* top: 1.5vw; */
    }
}


/* Media Query */


/* small mobile */

@media screen and (max-width: 360px) {
    .overlay-about-text {
        margin-top: 20vw;
    }
    .overlay-about-text h1 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
    .overlay-about-text p {
        font-size: 0.9rem;
    }
}

.overlay-about-text a {
    color: var(--clr-medal-gold);
    font-weight: 700;
}

.overlay-about-text .btn {
    margin-top: 0.5rem;
    color: var(--clr-primary-white);
    font-weight: 500;
}

.overlay-about-text .link-external {
    color: unset;
    font-weight: 700;
}


/*
=============== 
Contact
===============
*/

.container-contact {
    height: 100%;
}

.form-contact {
    flex-direction: column;
    height: 100vh;
    min-height: 43rem;
    width: unset;
    z-index: unset;
    background-color: #ecf0f3;
    padding: 3vw;
    position: unset;
}

.form-contact>* {
    width: 76vw;
    max-width: 26rem;
    text-align: center;
}

.form-contact>.form-logo {
    width: 30vw;
    height: 30vw;
    max-width: 8rem;
    max-height: 8rem;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-image: url("./static/images/logos/logo-tokyo-2020-blue-tokyo.png");
}

.form-contact>h6 {
    width: 80vw;
    max-width: 22rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

h6+.form-group {
    margin-bottom: 2.5vw;
}

.form-group:nth-of-type(5) {
    margin-bottom: 7.5vw;
}

.form-group>* {
    width: 100%;
}

textarea,
.form-contact .form-control {
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.form-contact .form-control {
    padding: 0.65rem 0.8rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

textarea::placeholder,
.form-contact .form-control::placeholder {
    color: #9da9b0;
}

textarea:focus,
.form-contact .form-control:focus {
    color: #464a4c;
    background-color: #fff;
    outline: none;
}


/* Media Query */


/* large mobile */

@media screen and (min-width: 576px) {
    .alert {
        padding: 0.75rem 1.5rem;
    }
    .form-group:nth-of-type(5) {
        margin-bottom: 2.8rem;
    }
}


/* tablet */

@media screen and (min-width: 768px) {
    .form-contact {
        min-height: 100vh;
    }
    textarea {
        height: 12rem;
    }
    .form-contact>h6 {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        line-height: 1.2;
        font-size: 1.1rem;
        max-width: 24rem;
    }
    .form-group {
        margin-bottom: 1.3rem;
    }
    .form-contact>.form-logo {
        max-width: 9rem;
        max-height: 9rem;
    }
    .form-group:nth-of-type(5) {
        margin-bottom: 3.5rem;
    }
}


/* small laptop */

@media screen and (min-width: 992px) {
    .form-contact {
        width: 68vw;
        padding-top: 0;
        padding-bottom: 0;
    }
    textarea {
        height: 8rem;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    .form-group:nth-of-type(5) {
        margin-bottom: 2rem;
    }
    .form-contact>h6 {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
        line-height: 1;
        font-size: 1rem;
        max-width: 24rem;
    }
    .form-contact>.form-logo {
        width: 7rem;
        height: 7rem;
    }
}


/*
=============== 
ErrorHandler
===============
*/

.container-flag-error+div li:last-of-type {
    top: -52vw;
}

.container-button-error {
    top: 25vw;
}


/* Media Query */


/* tablet */

@media screen and (min-width: 768px) {
    .container-flag-error+div li:last-of-type {
        top: 0;
    }
    .article-error>* {
        position: absolute;
        width: 30rem;
        height: 25rem;
    }
    .container-flag-error+div {
        top: 25rem;
        width: 30rem;
        align-items: center;
    }
    .container-flag-error+div li:last-of-type {
        top: -23.5rem;
    }
    .article-error h3 {
        margin-bottom: 1rem;
    }
    .container-flag-error.container-flag-Asia+div li:last-of-type {
        top: -22rem;
    }
    .container-button-error {
        top: unset;
    }
}


/* small laptop */

@media screen and (min-width: 992px) {
    .article-error>* {
        width: 65%;
    }
    .container-flag-error+div {
        top: 24.25rem;
    }
    .section-error,
    .section-success {
        width: calc(68vw - 2rem);
    }
    .section-error>.article-error,
    .section-success>.article-error {
        padding-top: 0;
    }
    .section-success .wrapper-rank {
        top: 55%;
    }
}